@import "../../bower_components/bootstrap/less/media";
@import "../../bower_components/bootstrap/less/variables";
#circles {
  position: relative;
  #circle-orange {
    background: rgb(255, 94, 79);
    width: 160px;
    height: 160px;
  }

  #circle-blue {
    background: rgb(45, 164, 168);
    width: 200px;
    height: 200px;
  }

  #circle-yellow {
    background: rgb(253, 156, 60);
    top: 134px;
    left: 56px;
    width: 300px;
    height: 300px;
  }

  #circle-red {
    background: rgb(207, 34, 87);
    width: 160px;
    height: 160px;
  }

  #circle-dark {
    background: rgba(0, 48, 106, 0.9);
    width: 200px;
    height: 200px;
  }
  .circle {
    border-radius: 1000px;
    display: inline-table;
    visibility: hidden;
    text-align: center;
    p {
      color: #ffffff;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    &.animated {
      visibility: visible;
    }
  }

  @media (max-width: @screen-phone) {
    .circle {
      width: 260px;
      height: 260px;
      visibility: visible;
    }
  }
  @media (width: @screen-md-min) {
    #circle-orange {
      margin-right: 48px;
      margin-bottom: -20px;
    }
    #circle-yellow {
      margin: -48px -32px;
    }
    #circle-dark {
      z-index: -1;
      position: relative;
      margin-top: -20px;
    }
    #circle-red {
      margin-bottom: -20px;
    }
  }
}