@font-directory: '../font/';
//@font-face {
//  font-family: 'AlegreyaSans';
//  src: url('webfont.eot'); /* IE9 Compat Modes */
//  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//  url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//  url("@{font-directory}AlegreyaSans-Regular.otf")  format('opentype'), /* Safari, Android, iOS */
//  url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
//  font-weight: normal;
//}

@font-face {
  font-family: 'AlegreyaSans';
  src: url("@{font-directory}AlegreyaSans-Light.otf") format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'AlegreyaSans';
  src: url("@{font-directory}AlegreyaSans-Medium.otf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'AlegreyaSans';
  src: url("@{font-directory}AlegreyaSans-Regular.otf") format('opentype');
  font-weight: normal;
}


// AlegreyaSansSC
@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("@{font-directory}AlegreyaSansSC-Light.otf") format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("@{font-directory}AlegreyaSansSC-Medium.otf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'AlegreyaSansSC';
  src: url("@{font-directory}AlegreyaSansSC-Regular.otf") format('opentype');
  font-weight: normal;
}