@import "../../bower_components/bootstrap/less/variables";

body {
  margin: 0;
  font-family: 'AlegreyaSans', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

p {
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'AlegreyaSansSC', sans-serif;
}

h2 {
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 40px;
}

div > .container {
  > .row {
    margin-top: 60px;
    margin-bottom: 80px;
  }
}
.full {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.title {
  font-variant: small-caps;
}

.breve {
  line-height: 48px;
  position: relative;
  .breve-small, .breve-large {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 600ms;
  }
  .breve-large {
    opacity: 0;
    transition: all 600ms;
  }
  &:hover {
    .breve-small {
      opacity: 0;
      transition: all 600ms;
    }
    .breve-large {
      opacity: 1;
      transition: all 600ms;
    }
  }
}

.logo {
  margin-bottom: 36px;
}

footer {
  font-size: 16px;
  line-height: 48px;
  .phone, .email, .link, .copy, a {
    color: #999;
    padding: 8px 24px 24px 0;
  }
}

img.svg {
  max-width: 100%;
}

#character-slick {
  img {
    zoom: 0.8;
    padding-bottom: 20px;
  }
  p {
    font-size: 22px;
  }
  .slick-dots {
    margin-top: 16px;
    li {
      button::before {
        color: rgba(0, 0, 0, 0.3);
      }
      &.slick-active {
        button::before {
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}