
#graph {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;
  height: 100vh;
  padding-top: 60px;
  > .container > .row {
    margin-top: 0;
    margin-bottom: 0;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .textbox {
    .title {

    }
  }
  &.full {
    display: block;
  }
}