.person {
  margin-top: 32px;
  margin-bottom: 32px;
  img.profile {
    max-width: 100%;
    max-height: 400px;
    zoom: 0.8;
  }
  .name {
    padding-top: 24px;
    a {
      font-size: 24px;
      color: #000;
      font-variant: small-caps;
    }
  }
  .about {
    font-size: 16px;
    color: #999999;
    font-weight: 200;
  }
}